\.Rhistory
.Rproj.user
*.nb.html
\.ts
.RData
*.rds
_book/
_bookdown_files/
.ipynb_checkpoints/
bookdown/
matplotlib-voxels.pdf
matplotlib-simple.pdf
test.png
environment.yml.original


matplotlib-with-rmarkdown.Rmd
