.rmddisclaimer {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffb4b4;
  position:relative;
}

.rmddisclaimer:before {
  content: "\f12a";
  font-family: FontAwesome;
  left:22px;
  position:absolute;
  top:0;
  font-size: 45px;
}

.rmdtip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #b4b4ff;
  position:relative;
}

.rmdtip:before {
  content: "\f00c";
  font-family: FontAwesome;
  left:10px;
  position:absolute;
  top:0;
  font-size: 45px;
}
 
 .rmdcomment {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #e6e6e6;
  position:relative;
}

.rmdcomment:before {
  content: "\f075";
  font-family: FontAwesome;
  left:10px;
  position:absolute;
  top:0;
  font-size: 45px;
}
 
.rmdassignment {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #e6e6e6;
  position:relative;
}

.rmdassignment:before {
  content: "\f0a4";
  font-family: FontAwesome;
  left:10px;
  position:absolute;
  top:0;
  font-size: 45px;
}

.decocode {
  margin: 2px 2px 0px;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: auto;
}

.decocode * {
    padding: 4px;
}
 
